[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiodns = "*"
pytest = "*"
pytest-asyncio = "*"
aiohttp = "*"
coverage = "*"
pydantic = "*"

[dev-packages]

[requires]
python_version = "3.10"
