[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiodns = "*"
aiohttp = "*"
pydantic = "*"

[dev-packages]
coverage = "*"
pytest = "*"
pytest-asyncio = "*"


[requires]
python_version = "3.10"
[scripts]
test = "pytest --asyncio-mode=strict -v tests/"
coverage="coverage run -m pytest --asyncio-mode=strict"